nav{
    padding: 0 20px !important;
    background: orange;
}

a{
    padding: 15px 10px !important;
}

.present{
    background: rgb(236, 231, 169);
}

li a:hover{
    background: rgb(236, 231, 169, .5);;
}

main{
    margin-top: 5rem;
}

section{
    width: 700px;
    margin: auto;
    background:wheat;
    padding: 30px 0;
    box-shadow: 1px 1px 5px black;
}

article{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    padding: 20px 0;
    border: 2px solid;
    border-bottom-color: blue;
    border-right-color: blue;
    border-top-color: orange; 
    border-left-color: orange;
}

input{
    margin: 20px 0;
}

button{
    margin-top: 20px;
}