section{
    margin-top: 5rem;
}

article{
    border: 2px solid black;
    background:wheat;
    padding: 3rem;
    width: 700px;
    margin: auto;
}

img{
    height: 200px;
    width: 200px;
}

h1{
    font-size: 32px;
    font-weight: normal;
}

p{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

h2{
    font-size: 18px;
    font-style: italic;
    text-align: right;
}

.texto{
    display: inline;
}

.texto div{
    width: 70%;
}

.texto img{
    width: 30%;
}

nav{
    padding: 0 20px !important;
    background: orange;
}

a{
    padding: 15px 10px !important;
}

.present{
    background: rgb(236, 231, 169);
}

li a:hover{
    background: rgb(236, 231, 169, .5);;
}