nav{
    padding: 0rem 1.5rem;
    background: orange;
}

main{
    margin: 10rem auto;
    width: 1500px;
}

img{
    width: 60px;
    height: 120px;
    margin: 20px;
}

.board{
    border: 1px solid black; 
    background: gray; 
    padding: 10px;
    width: 70%; 
}

.lateral{
    width: 15%; 
    height: 400px;
}

.lat1{
    height: 65%;
}

.lat2{
    height: 25%;
}

.content{
    background:palegoldenrod;
    border: 2px solid blue;
    padding: 10px 0;
}

article{
    text-align: center;
    background:palegoldenrod;
}

label{
    color: blue;
    font-weight: bold;
}

input{
    border: 0;
    background: none;
    color: green;
    font-weight: bold;
    text-align: center;
}

#clock{
    color: blue;
}
